/venv
/__pycache__/
/.pytest_cache/
/.mypy_cache/
/.pytest_cache/
/uploads
/uploads/*
temp_uploads
temp_uploads/*
models
models/*
/temp_uploads
/test_images
/test_images/*
/test_images/*
*.log
logs/
temp_uploads/*
uploads/*
test_images/*
__pycache__/
*/__pycache__/
**/__pycache__/
.DS_Store
__pycache__